body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#table {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

#chart {
	width: 500px !important;
	height: 400px !important;
}

